/* attributer som skal gjelde hele body*/
/* Navigasjons liste */
body{
    background-color: white;
    padding: 30px;
    overflow: scroll;
}
header{ 
    background-color: blanchedalmond;
    text-align: center;
    font-size: x-large;
    height: fit-content;
    border-radius: 30px;
}
table{
    width: 60%;
}
.list{ 
    border-right: rgb(163, 159, 159) solid; 
    transition: all 0.3 ease;
}


.list:hover{
    color:orange;
    background-color: blanchedalmond;
}








/* Første delen av hodside som har 100% width*/
.heleFirst{  
    box-shadow: 10px 10px 20px 2px  rgb(246, 226, 171);
   }

.first{  /*  Del 1. øvert tekst i hoved side. litt om oslomet*/ 
    width: 100%;
    height: auto;
    margin-top: 6% ;
    color: black;
    
}
h1{ /* Del 1. først head i hoved side. ligger inn i class=first*/
    font-size: 60px;
    font-family:monospace;
    font-weight:bolder;
}
.oslomet{ /* Del 1. først paragraf i hoved side. ligger inn i class=first*/
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8;
}
.first1-caption{ /* Del 1. Kilde */
    font-size: 14px;
}
.first2{ /* Del 2. et bildet av oslomet i background */
    border: solid rgb(233, 165, 165);
    width: 100%;
    height: 350px;
    margin-top: 20PX;
    border-radius: 20px;
    color: white;
    background-image: url(../imp/oslomet.jpg);
    background-size: cover;
    background-position: center;
}
.first2-caption{ /* Del 2. figcaption */
    margin-top: 3px;
    margin-left: 8px;
    font-size: 14px;
}
a:link{ /* alle a.linkene i hovedside */
    color: rgb(229, 140, 92);
    font-style:italic;
}
a:visited{
    color: rgb(229, 140, 92);
    font-style:italic;
}
a:hover{
    font-weight: bolder;
    font-size: 18px;
}






/* aside delen som ligger til venstre på hovedside*/
aside{
    border: rgb(234, 167, 167);
    border-style: dotted solid;
    border-width: medium;
    border-radius: 20px;
    height: 1586px;
    width: 30%;
    margin-top: 40px;
    float: left;
    padding-left: 10px;
    overflow: scroll;
}
.aside-first, .aside-end {
    line-height: 2.5em;
}
.aside-img{
    width: 100%;
    margin-top: 50px;
}
.aside-end{
    margin-top: 5em;
    display:block;
    
}
.aside-caption{
    size: 14px;
    padding-left: 17%; 
}






/* Noen attributer som skal gjelde for hele main-delen av hoved side*/
main{
    border: rgb(240, 149, 149);
    border-style: none solid;
    border-radius: 20px;
    float: right;
    width: 65%;
    height: 500px;
    margin-top: 40px;
}

/* Her kommer første main-delen "main1" som ligger overst på hoved side*/
.main1{
    background-image: url(../imp/main1.jpeg);
    background-size: cover;
    overflow:scroll;
}
.main1-text{
    line-height: 2em;
    width: 45%;
    padding-left: 10px;
    padding-right: 45%;
    color: antiquewhite;
}
.main1-caption{
    size: 14px;
    padding-left: 10px;
}

/* Her er det andre main-delen "main2" som ligger i midten på hoved side*/
.main2{
    background-image: url(../imp/main2.jpeg);
    background-size: cover;
    overflow: scroll;
}
.main2-text{
    line-height: 2em;
    padding-left: 10px;
    padding-right: 65%;
    color: antiquewhite;
}
.main2-caption{
    size: 14px;
    padding-left: 10px
}

/* Her er det tredje main-delen "main3" som ligger nederst på hoved side*/
.main3{
    background-image: url(../imp/main3.png);
    background-size:cover;
    overflow: scroll;
}

.main3-img{
   background-image: url(../imp/main3.png);
   background-size: cover;
}
.main3-text{
    width: 35%;
    background-color: antiquewhite;
    line-height: 2.5em;
    padding-left: 10px;  
}   
.main3-caption{
    margin-left: 80%;
    background-color: rgb(64, 60, 56);
} 







/* sidebunn, hovedside*/
footer{
    background-color: blanchedalmond;
    border-radius: 30px;
    border:  rgb(240, 149, 149);
    border-style: none solid;
    border-width: medium;
    width: 100%;
    height: 50px;
    float: inline-end;
    margin-top: 120px;
    margin-bottom: 100px;
}
.end-text{
    text-align: center;
}

.les-mer{ /* link mellom enhver snitt i hovedside og de andre sidene*/
    font-weight: bold;
    font-style: italic;
}


